<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Index</title>
</head>
<body>
    <div class="divide">
        <h1>Index</h1>
        <p>Index page</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia fugit tempore iste illo corrupti ex officia iure, molestiae architecto ullam tempora vitae asperiores, excepturi quidem delectus inventore magnam eaque in.</p>
    </div>
</body>
</html>